* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  image-rendering: -webkit-optimize-contrast;
}

html {
  overflow-x: hidden;
}

body {
  color: #fff;
  background: #121416;
}

header {
  display: flex;
  border-bottom: 1px solid #333;
  font-size: 0.8em;
}
header a {
  display: block;
  flex: 1;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-left: 1px solid #333;
}
header a:first-child {
  border-left: none;
}
header a:hover {
  background: #222;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

img {
  max-width: 100%;
}

.editor {
  display: flex;
  flex: 1;
}
.editor-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
.editor-right {
  width: 230px;
  border-left: 1px solid #ffff;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 28px)
}
.stage {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.stage canvas {
  border-bottom: 1px solid #fff;
}

#clip-name-input {
  width: 100%;
  text-align: center;
}

.clips {
  overflow-y: scroll;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  flex: 1;
}
.clip, .clip-add {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  margin: 5px;
  cursor: pointer;
  position: relative;
  font-size: 0.8em;
}
.clip:hover, .clip-add:hover {
  background: rgba(255,255,255,0.025);
}
.clip.in-pack .clip-in-pack {
  display: block;
  /* border-image-slice: 1; */
  /* border-width: 2px; */
  /* border-image-source: linear-gradient(to left, #00C853, #B2FF59); */
}
.clip-in-pack {
  width: 12px;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  display: none;
}
.clip.in-pack,
.clip.selected {
  border: 1px solid #41C56D;
}
.clip.in-pack .rem-from-pack {
  display: inline;
}
.rem-from-pack,
.clip.in-pack .add-to-pack {
  display: none;
}
.clip-preview {
  flex: 1;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.clip-preview img {
  max-height: 80px;
  object-fit: contain;
  position: relative;
}
.clip-name {
  text-align: center;
  padding: 0.5em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.editor .clip,
.editor .clip-add {
  width: 45%;
}
.editor .clip-add {
  justify-content: space-around;
  align-items: center;
  font-size: 3em;
  border: 1px solid #555;
}

.editor .details {
  padding: 1em 0;
  font-size: 0.8em;
}
.editor .details td {
  padding: 0 5px;
}
.editor .details-tags input {
  width: 320px;
}
.editor button {
  border: 1px solid #888;
  background: #000;
  color: #fff;
  height: 18px;
  cursor: pointer;
}

#browser {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}
#browser > input[type=text] {
  width: calc(100% - 10px);
  margin: 5px;
  padding: 0.5em 0;
  font-size: 1em;
  display: block;
  text-align: center;
}
#browser-items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-content: start;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}
#browser .sources {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0.5em 0;
  border-bottom: 1px solid #333;
  box-shadow: 0 1px 5px black;
  z-index: 1;
}
.sources > div {
  margin-right: 0.5em;
}
.sources label, .sources input {
  vertical-align: middle;
}

.clip:hover .clip-menu {
  display: flex;
}
.clip-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 5px;
  text-align: right;
  display: none;
  z-index: 1;
  background: #121416;
  justify-content: space-between;
}
.clip-menu img {
  height: 16px;
  opacity: 0.5;
  vertical-align: middle;
}
.clip-menu img:hover {
  opacity: 1;
}

.browser-item-link {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
}

input[type=text] {
  background: #121212;
  color: #fff;
  border: 1px solid #555;
  font-family: monospace;
}
input[type=range] {
  height: 1px;
  -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #fff;
}
button {
  font-family: monospace;
  border: 1px solid #fff;
  cursor: pointer;
}

.pack-cart {
  position: fixed;
  right: 1em;
  bottom: 1em;
  padding: 0.5em;
  background: #000;
  border: 1px solid #fff;
  min-width: 120px;
  font-size: 0.8em;
}
.pack-clips {
  margin: 0 0 1em 0;
}
.pack-clips .pack-clip {
  max-width: 80px;
  max-height: 80px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.pack-clip img {
  max-width: 80px;
  max-height: 80px;
}
.pack-clip:hover .clip-menu {
  display: block;
}
.pack-header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0.5em 0;
}
.pack-clips-toggle {
  text-decoration: underline;
  cursor: pointer;
}
.pack-controls {
  text-align: right;
}
.pack-controls > * {
  font-size: 1.1em;
  margin: 0 0 0 0.25em;
}
.pack-result {
  max-width: 360px;
  margin: 1em 0;
  padding: 0.5em;
  background: #111;
}
.pack-result .pack-name {
  text-align: center;
  margin: 0.5em 0 0 0;
}
.pack-name a {
  color: #fff;
}
.pack-controls input {
  height: 18px;
  vertical-align: middle;
}
.pack-max-side {
  width: 42px;
}
.pack-name-input {
  width: 96px;
}

.search-result {
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  margin: 5px;
  cursor: pointer;
  position: relative;
  font-size: 0.8em;
}
.search-result-preview {
  flex: 1;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.search-result-preview img {
  max-height: 140px;
  object-fit: contain;
  position: relative;
}
.search-result-details {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 0.5em;
}
.search-result:hover .search-result-details {
  display: flex;
}
.search-result.selected {
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left, #00C853, #B2FF59);
}
.save-result, .view-result {
  background: #111;
  border: 1px solid #888;
  padding: 0.5em 0.25em;
  width: 60px;
  margin: 1.5em auto 0em auto;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.save-result:hover,
.view-result:hover {
  background: #FFD181;
  color: #000;
  border: 1px solid #000;
}

.status-notification {
  z-index: 10;
  position: fixed;
  left: 1em;
  top: 1em;
  color: #000;
  padding: 0.5em;
  border: 1px solid #000;
  background: linear-gradient(to left, #00C853, #41c56d);
  min-width: 120px;
  text-align: center;
  display: none;
  font-size: 0.9em;
}

#pack-preview {
  position: fixed;
  right: 1em;
  bottom: 1em;
  border: 1px solid #333;
  background: #000;
  max-width: 240px;
  z-index: 1;
}

.popup {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0,0,0,0.8);
  display: none;
}

.popup > div {
  max-width: 640px;
  background: #000;
  border: 1px solid #888;
  margin: 2em auto;
  height: calc(100vh - 4em);
}

.pack-clips-browser {
  text-align: center;
}

.pack-clips-browser img {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}
.pack-clips-browser--clip {
  width: 120px;
  height: 120px;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 1em 0.5em;
  cursor: pointer;
}
.pack-clips-browser--clip:hover {
  opacity: 0.8;
}

#stage-surface,
#stage-clip {
  flex: 1;
  height: 100%;
}
#surface-editor {
  width: 100%;
  flex: 1;
  flex-direction: column;
  position: relative;
}
#config-surface {
  font-size: 0.8em;
  position: absolute;
  right: 1em;
  top: 1em;
}
#config-surface > div {
  margin-bottom: 2px;
}
#config-surface input {
  max-width: 50px;
  font-size: 1em;
}
#preview-surface {
  width: calc(3 * 30px);
  position: absolute;
  right: 1em;
  bottom: 1em;
  line-height: 0;
  z-index: 12;
}
#preview-surface img {
  width: 30px;
}
#preview-surface:hover {
  width: calc(3 * 120px);
}
#preview-surface:hover img {
  width: 120px;
}

.stage-tabs {
  position: absolute;
  left: 1em;
  top: 1em;
  background: #000;
  border: 1px solid #fff;
  display: flex;
  font-size: 0.8em;
  z-index: 5;
}
.stage-tabs > button {
  font-size: 1em;
  padding: 0.5em;
  border: none;
  border-right: 1px solid #fff;
  cursor: pointer;
  line-height: 1;
  margin: 0 0 -0.5px 0; /* needed to get rid of random excess border? */
}
.stage-tabs > button:hover,
.stage-tabs > button.selected {
  background: #fff;
  color: #000;
}
.stage-tabs > button:disabled {
  opacity: 0.5;
  background: #000 !important;
  color: #fff !important;
}
.stage-tabs > button:last-child {
  border-right: none;
}

#clip-browser-preview {
  position: fixed;
  left: 1em;
  bottom: 1em;
  z-index: 10;
}
#clip-browser-preview img {
  max-width: 320px;
  max-height: 320px;
}

.pack-included-clip {
  display: inline-block;
  padding: 2px 3px;
  background: #282828;
  color: #fff;
  text-decoration: none;
}
.pack-included-clip:hover {
  background: #303030;
}