{% extends 'layout.html' %}
{% from "items.html" import clip_item %}

{% block content %}
<div id="browser">
    <input id="filter" type="text" placeholder="Search" />
    <div id="browser-items">
        {% for clip in clips %}
            {{ clip_item(clip, editable=True) }}
        {% endfor %}
    </div>
</div>

<script type="module" src="/static/js/pack.js"></script>
<script src="/static/js/filter.js"></script>
<script>
setupFilter(
  '#filter',
  (el) => [el.dataset.name.toLowerCase()]);
</script>
{% endblock %}
