{% extends 'layout.html' %}
{% from "items.html" import pack_item %}

{% block content %}
<div id="browser">
    <input id="filter" type="text" placeholder="Search" autofocus />
    <div id="clip-browser-preview"><img src="" /></div>
    <div id="browser-items">
        {% for item in packs %}
            {{ pack_item(item) }}
        {% endfor %}
    </div>
</div>
<script src="/static/js/listing.js"></script>
<script>
setupFilter(
  '#filter',
  (el) => [el.dataset.name.toLowerCase()]);
setupPreviews();
</script>
{% endblock %}
