{% extends 'layout.html' %}
{% from "items.html" import search_result %}

{% block content %}
<div id="browser">
    <input type="text" placeholder="Search" value="{{query}}" autofocus />
    <div class="sources">
        {% for source, selected in sources %}
            <div>
                <input id="{{source}}" type="checkbox" {{'checked' if selected}} /><label for="{{source}}">{{ source }}</label>
            </div>
        {% endfor %}
    </div>
    <div id="browser-items">
        {% for item in results %}
            {{ search_result(item) }}
        {% endfor %}
    </div>
</div>
<script type="module" src="/static/js/search.js"></script>
{% endblock %}
